@CHARSET "UTF-8";

#search {
	position: relative;
	left: 10%
}

.sub {
	position: relative;
	left: 10%
}
.manageButtonSize {
	position: relative;
	width:50;
}

#bookSearch {
	font-size: 150%;
}

h2 {
	font-size: 150%;
	position: relative;
	left: 150px
}




.inner{
  text-align: center;
}
.right{
  text-align: right;
}
table {
	width: 80%;
	border-collapse: separate;
	border-spacing: 0;
	border-color: white;
	margin-left: auto;
	margin-right: auto;
}

th {
	background: #2F5496;
	color: white;
	padding: 5px;
}

td {
	background: #d5e0f1;
	text-align: center;
	padding: 5px;
}

.grayButton {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background:#d3d3d3;/*ボタン色*/
  border-bottom: solid 3px #808080;
  border-radius: 3px;
  font-weight: bold;
}

.grayButton:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px); /*下に動く*/
	border-bottom: none; /*線を消す*/
}

.orangeButton {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background:#ED7D31;/*ボタン色*/
  border-bottom: solid 3px #BF5711;
  border-right: solid 3px #BF5711;
  border-top: solid 3px #f19c63;
  border-left: solid 3px #f19c63;
  border-radius: 3px;
  font-weight: bold;
}
.orangeButton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.blueButton {
  color: #ffffff;
  text-shadow: black 1px 1px 0px;
  display: inline-block;
  padding: 0.5em 1em;


  text-decoration: none;
  background:#2F5496;/*ボタン色*/
  border-bottom: solid 3px #1B3056;
  border-right: solid 3px #1B3056;
  border-top: solid 3px #4E78C7;
  border-left: solid 3px #4E78C7;
  border-radius: 3px;
  font-weight: bold
}
.blueButton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.grayButton {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background:#d3d3d3;/*ボタン色*/
  border-bottom: solid 3px #808080;
  border-radius: 3px;
  font-weight: bold;
}

.line{
	 border-bottom: 5px solid #dcdcdc;
	 text-align:center;
}
.blackLine{
	 border-bottom: 5px solid #000000;
	 text-align:center;
}
.lightBlueButton {
  color: #ffffff;
  text-shadow: black 1px 1px 0px;
  display: inline-block;
  padding: 0.5em 1em;


  text-decoration: none;
  background:#2F5496;/*ボタン色*/
  border-bottom: solid 3px #1B3056;
  border-right: solid 3px #1B3056;
  border-top: solid 3px #4E78C7;
  border-left: solid 3px #4E78C7;
  border-radius: 3px;
  font-weight: bold
}
.lightBlueButton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.leftForm {
	display: inline-block;
 	text-align: right;
 	width: 150px;
 	/*border-style : solid*/
}
.rightForm {
	display:inline-block;
 	width: 400px;
 	/*border-style : solid*/
}

.blankForm {
	display:inline;
}
.red{
	color:red;
}

